{% extends 'base.html' %}
{% block title %}
    {{ general_setting.site_name }} | Add Product
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title">Add Product</h4>
        </div>
        <div class="page-rightheader ml-auto d-lg-flex d-none">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="d-flex">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/>
                        <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/>
                    </svg>
                    <span class="breadcrumb-icon"> Home</span></a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item"><a href="#">Invoice</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Invoice</li>
            </ol>
        </div>
    </div>
    <!--End Page header-->
    <!-- Row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Add Product</div>
                </div>
                <form action="{% url 'product.save' %}" method="POST" id="form_submit">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="form-label required-label">Name<span
                                                class="text-red">*</span></label>
                                        <input class="form-control" name="name" placeholder="Name" value="" required>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"> Category <span
                                                    class="text-red">*</span></label>
                                            <select class="form-control select2-show-search" name="category_id"
                                                    data-placeholder="search category">
                                                <option value="" selected disabled>select category</option>
                                                {% for category in categories %}
                                                    <option>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-label">Sku</label>
                                        <input class="form-control" name="sku" placeholder="Sku" value="" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-label">Image</label>
                                        <input type="file" class="form-control" name="image"/>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" name="description" rows="4"
                                                  placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div id="without_attr_div">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="form-label required-label">Price<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="price" placeholder="Price" value=""
                                                   required>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label required-label">Stock<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="stock" placeholder="Stock" value=""
                                                   required>
                                        </div>

                                    </div>
                                </div>
                                <div class="d-flex">
                                    <input type="checkbox" id="attributeCheckbox" style="cursor: pointer">
                                    <h5 class="mt-3 m-3">has an attribute</h5>
                                </div>
                                <div id="with_attr_div">

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" type="submit"><i class="fe fe-plus"></i> Save</button>
                                <a class="btn btn-light" href="{% url 'product.index' %}">Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script>
        $(function () {

            //togggle checkbox of attaribute
            $('#attributeCheckbox').on('change', function () {
                if ($(this).is(':checked')) {

                     $('#without_attr_div').html('')
                     $('#with_attr_div').html(`

                          <div class="form-group row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Attribute <span
                                                        class="text-red">*</span></label>
                                                <select class="form-control select2-show-search" name="attribute_id[]"
                                                        required data-placeholder="search category">
                                                    <option value="" selected disabled>select attribute</option>
                                                    {% for category in categories %}
                                                        <option>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label required-label">Attribute Value<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attribute_value[]"
                                                   placeholder="Attribute Value" value="" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label required-label"> Price<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attr_price[]" placeholder="Attribute Value"
                                                   value="" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label required-label"> Stock<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attr_stock[]" placeholder="Attribute Stock"
                                                   value="" required>
                                        </div>
                                         <div class="col-md-3 d-flex">
                                             <button class="btn-sm btn-info m-1 add" type="button"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>

                     `)
                } else {
                      $('#with_attr_div').html('')
                      $('#without_attr_div').html(`
                            <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="form-label required-label">Price<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="price" placeholder="Price" value=""
                                                   required>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label required-label">Stock<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="stock" placeholder="Stock" value=""
                                                   required>
                                        </div>

                                    </div>
                      `)
                }
            });

            //append  child data in attribute
            $(document).on('click','#with_attr_div  .add',function (){
                $('#with_attr_div').append(`
                     <div class="form-group row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-label"> Attribute <span
                                                        class="text-red">*</span></label>
                                                <select class="form-control select2-show-search" name="attribute_id[]"
                                                        required data-placeholder="search category">
                                                    <option value="" selected disabled>select attribute</option>
                                                    {% for category in categories %}
                                                        <option>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label required-label">Attribute Value<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attribute_value[]"
                                                   placeholder="Attribute Value" value="" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label required-label"> Price<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attr_price[]" placeholder="Attribute Value"
                                                   value="" required>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label required-label"> Stock<span
                                                    class="text-red">*</span></label>
                                            <input class="form-control" name="attr_stock[]" placeholder="Attribute Stock"
                                                   value="" required>
                                        </div>
                                         <div class="col-md-3 d-flex">
                                             <button class="btn-sm btn-info m-1 add" type="button"><i class="fa fa-plus"></i></button>
                                             <button class="btn-sm btn-danger m-1 remove" type="button"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>

                `)
            })

            //remove child data
            $(document).on('click','#with_attr_div .remove',function (){
                $(this).parent().parent().remove()
            } )

            //post data
            $('#form_submit').on('submit', function (e) {

                e.preventDefault()
                let $form = $(this);
                var formData = new FormData(this);

                ajaxPost(
                    "{% url 'product.save' %}",
                    formData,
                    "{% url 'product.index' %}",
                    "POST",
                    $form
                )
            })
        })

    </script>

    <template id="attribute_tempate">
        <div class="form-group row">

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label"> Attribute <span
                            class="text-red">*</span></label>
                    <select class="form-control select2-show-search" name="attribute_id"
                            required data-placeholder="search category">
                        <option value="" selected disabled>select attribute</option>
                        {% for category in categories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label required-label">Attribute Value<span
                        class="text-red">*</span></label>
                <input class="form-control" name="attribute_value"
                       placeholder="Attribute Value" value="" required>
            </div>

            <div class="col-md-3">
                <label class="form-label required-label"> Price<span
                        class="text-red">*</span></label>
                <input class="form-control" name="attr_price" placeholder="Attribute Value"
                       value="" required>
            </div>

            <div class="col-md-3">
                <label class="form-label required-label"> Stock<span
                        class="text-red">*</span></label>
                <input class="form-control" name="attr_stock" placeholder="Attribute Stock"
                       value="" required>
            </div>

        </div>
    </template>
{% endblock script %}
    